@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700);

$white--front: #f2f2f2;
$white--side: #cccccc;
$white--drop: #999999;

$gray--front: #cccccc;
$gray--side: #999999;

$green--front: #22b573;
$green--side: #14663e;

$blue--front: #3fa9f5;
$blue--side: #276991;

$tile--frames: 13;

$speed--flip: 0.5s;
$speed--fade: 0.5s;
$speed--move: 1s;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: white;
    margin: 0;
    overflow-x: hidden;
}
