.board {
    margin: auto;
    max-width: 800px;
    position: relative;
    transition: opacity $speed--fade ease-out;

    &__ratio {
        height: 0;
        padding-top: 100%;
        width: 100%;
    }

    [data-winner] & {
        opacity: 0.25;
    }
}
