.board {
    display: flex;
    flex-wrap: wrap;
    height: $board--size--small;
    margin: auto;
    transition: opacity $speed--fade ease-out;
    width: $board--size--small;

    @include media('>=medium') {
        height: $board--size--medium;
        width: $board--size--medium;
    }

    @include media('>=large') {
        height: $board--size--big;
        width: $board--size--big;
    }

    [data-winner] & {
        opacity: 0.25;
    }
}
