.reversi {
    margin: auto;
    max-width: 800px;
    padding: 130px 20px 20px;
    position: relative;

    @include media('>=small') {
        padding-top: 30%;
    }

    @include media('>=medium') {
        padding-top: 25%;
    }

    @include media('>=large') {
        padding-top: 20px;
    }
}
