@keyframes tile--jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30%);
    }
}

.tile {
    background: transparent;
    border: 0;
    cursor: default;
    height: 0;
    outline: 0;
    padding-top: 12.5%;
    position: absolute;
    width: 12.5%;

    $max: 8;

    @for $i from 0 to $max {

        $top: 12.5% * $i;

        @for $j from 0 to $max {

            $left: 12.5% * $j;

            &:nth-of-type(#{($i * $max) + ($j + 1)}) {
                left: $left;
                top: $top;
            }
        }

    }

    &--flip &__sprite {
        transform: translateX((100% / $tile--frames) * ($tile--frames - 1) * -1);
        transition-duration: $speed--flip;
    }

    &__hole,
    &__base,
    &__mask {
        bottom: 0;
        height: 140%;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &__hole {

        &__side {
            fill: $white--side;
        }

        &__drop {
            fill: $white--drop;
        }
    }

    &__base {
        fill: white;
    }

    &__mask {
        overflow: hidden;
        transition: transform 0.25s ease-out;

        .tile--flip & {
            animation: tile--jump $speed--flip ease-in-out;
        }
    }

    &__sprite {
        height: 100%;
        transform: translateX(0);
        transition: transform 0s steps($tile--frames - 1);
        width: 100% * $tile--frames;
    }

  // Setting the front and sides of the generic tiles to their respective shade
  // of white.

    &__front {

        &--1,
        &--2 {
          fill: $white--front;
          transition: color 1s ease-in;
        }

    }

    &__side {

        &--1,
        &--2 {
            fill: $white--side;
        }

    }

    &[data-color-from="gray"] & {

        &__front--1 {
            fill: $gray--front;
        }

        &__side--1 {
            fill: $gray--side;
        }
    }

    &[data-color-to="gray"] & {

        &__front--2 {
            fill: $gray--front;
        }

        &__side--2 {
            fill: $gray--side;
        }
    }

    &[data-color-to="gray"] {
        cursor: pointer;

        &:hover .tile__mask {
            transform: translateY(5px);
        }
    }

    &[data-color-from="green"] & {

        &__front--1 {
            fill: $green--front;
        }

        &__side--1 {
            fill: $green--side;
        }
    }

    &[data-color-to="green"] & {

        &__front--2 {
            fill: $green--front;
        }

        &__side--2 {
            fill: $green--side;
        }
    }

    &[data-color-from="blue"] & {

        &__front--1 {
            fill: $blue--front;
        }

        &__side--1 {
            fill: $blue--side;
        }
    }

    &[data-color-to="blue"] & {

        &__front--2 {
            fill: $blue--front;
        }

        &__side--2 {
            fill: $blue--side;
        }
    }
}
